<div id="header">
  @Html.ActionLink("Home", "Index", "Home") | 
  @Html.ActionLink("All Mechanics", "Index", "Mechanics") | 
  @Html.ActionLink("All Machines", "Index", "Machines") |
  @Html.ActionLink("Log Out", "Login", "Home")
</div>